body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.header {
  height: 91px;
  width: 70%;
  margin: 0 auto;
  padding: 0 15%;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  border-radius: 0 0 15px 15px;
}
.header_head {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  text-decoration: none;
  transition: 0.3s linear;
}
.header_head:hover {
  color: #445fbe;
}
.header_nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header_nav-link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #737373;
  transition: 0.3s;
}
.header_nav-link:hover {
  font-weight: 600;
  color: #0d0d0d;
}
.header_right {
  display: flex;
  align-items: center;
}
.header_right-login {
  border: none;
  background-color: transparent;
  color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
  transition: 0.3s;
}
.header_right-login:hover {
  color: #186490;
}
.header_right-become {
  margin-left: 15px;
}
.header_right-become-button {
  background-color: #23a6f0;
  color: #fff;
  width: 214px;
  height: 52px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header_right-become-button:hover {
  background-color: #1d77ab;
}

.main .about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: 91px auto;
  padding: 0 15%;
  height: 700px;
  background-image: url("../assets/qiz.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f7f7f7;
}
.main .about_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main .about_content-up {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.main .about_content-head {
  color: #252b42;
  font-size: 58px;
  font-weight: 700;
  margin: 0;
}
.main .about_content-paragraph {
  max-width: 376px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.main .about_content-button {
  background-color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  height: 52px;
  width: 192px;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}
.main .about_content-button:hover {
  background-color: #1d77ab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5176470588);
}
.main .problems {
  width: 70%;
  height: 236px;
  margin: 0 auto;
  padding: 0 15%;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.main .problems__left {
  max-width: 390px;
  margin: 0;
  padding: 0;
}
.main .problems__left-paragraph {
  color: #e74040;
  font-size: 14px;
  font-weight: 400;
}
.main .problems__left-head {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  color: #252b42;
}
.main .problems__right {
  max-width: 520px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}
.main .customers {
  width: 70%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 80px 15%;
}
.main .customers__block-head {
  padding: 0;
  margin: 0;
  font-size: 58px;
  font-weight: 700;
  color: #252b42;
  transition: 0.3s;
}
.main .customers__block-head:hover {
  text-shadow: 0 0 20px rgba(12, 12, 12, 0.4705882353);
}
.main .customers__block-paragraph {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #737373;
}
.main .video {
  width: 70%;
  height: 764px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 15%;
}
.main .video__item {
  height: 540px;
  width: 100%;
  background-image: url("../assets/filter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .video__item-button {
  width: 92.6px;
  height: 92.6px;
  padding: 34.8px 36.8px;
  border-radius: 73.6px;
  border: none;
  background-color: #23a6f0;
  cursor: pointer;
  transition: 0.3s;
}
.main .video__item-button:hover {
  box-shadow: 0 0 20px rgba(21, 21, 21, 0.6745098039);
}
.main .meet {
  width: 70%;
  height: 826px;
  padding: 0 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 112px;
  background-color: #ffffff;
}
.main .meet__up {
  width: 100%;
}
.main .meet__up-head {
  font-size: 40px;
  font-weight: 700;
  color: #252b42;
}
.main .meet__up-paragraph {
  max-width: 469px;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  color: #252b42;
}
.main .meet__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.main .meet__container-card {
  width: 30%;
  max-width: 316px;
  height: 383px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 20px #bcbcbc;
  transition: 0.3s;
}
.main .meet__container-card:hover {
  box-shadow: 0 0 20px #858585;
}
.main .meet__container-card-up-img {
  width: 100%;
  max-width: 316px;
}
.main .meet__container-card-down {
  width: 100%;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.main .meet__container-card-down-head {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: #252b42;
}
.main .meet__container-card-down-paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}
.main .meet__container-card-down-list {
  width: 112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .meet__container-card-down-list-item-img {
  transition: 0.2s;
}
.main .meet__container-card-down-list-item-img:hover {
  transform: scale(1.1);
}
.main .companies {
  background-color: #fafafa;
  width: 70%;
  padding: 0 15%;
  min-height: 479px;
}
.main .companies_up {
  text-align: center;
  padding-top: 50px;
}
.main .companies_up-head {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
}
.main .companies_up-paragaph {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}
.main .companies_down {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 60px;
}
.main .companies_down-block-img {
  transition: 0.3s linear;
}
.main .companies_down-block-img:hover {
  transform: scale(1.1);
}
.main .grow {
  width: 100%;
  height: 636px;
  padding: 0 0 0 0;
  background-color: #2a7cc7;
  display: flex;
  justify-content: space-between;
}
.main .grow__left {
  width: 75%;
  height: 100%;
  margin: 0 0 0 15%;
  padding: 0 5% 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main .grow__left-block {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.main .grow__left-block-up {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.main .grow__left-block-head {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.main .grow__left-block-paragraph {
  max-width: 440px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.main .grow__left-block-button {
  width: 130px;
  height: 52px;
  padding: 15px 40px;
  margin: 0;
  background-color: #2a7cc7;
  border: 1px solid #fafafa;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.main .grow__left-block-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.368627451);
}
.main .grow__right {
  width: 590px;
}
.main .footer {
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  margin: 0 auto;
}
.main .footer-up {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 138px;
  margin: 0px auto;
  border-bottom: 1px solid #cdcdcd;
}
.main .footer-up-paragraph {
  font-size: 24px;
  font-weight: 700;
  margin-top: 57px;
}
.main .footer-up-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 62px;
  height: 24px;
  margin: 57px 0;
  width: 112px;
}
.main .footer-up-list a {
  margin: 0;
  width: 24px;
  transition: 0.2s;
}
.main .footer-up-list a img {
  transition: 0.2s;
}
.main .footer-up-list a img:hover {
  transform: scale(1.1);
}
.main .footer-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #fff;
}
.main .footer-center-company {
  height: 170px;
  width: 148px;
}
.main .footer-center-company-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main .footer-center-company-list {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.main .footer-center-company-list li {
  list-style: none;
  text-decoration: none;
}
.main .footer-center-company-list li a {
  text-decoration: none;
  color: #737373;
  transition: 0.2s linear;
}
.main .footer-center-company-list li a:hover {
  color: #000000;
  font-weight: 700;
}
.main .footer-center-legal {
  height: 170px;
  width: 148px;
}
.main .footer-center-legal-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main .footer-center-legal-list {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.main .footer-center-legal-list li {
  list-style: none;
  text-decoration: none;
}
.main .footer-center-legal-list li a {
  text-decoration: none;
  color: #737373;
  transition: 0.2s linear;
}
.main .footer-center-legal-list li a:hover {
  color: #000000;
  font-weight: 700;
}
.main .footer-center-features {
  height: 170px;
  width: 148px;
}
.main .footer-center-features-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main .footer-center-features-list {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.main .footer-center-features-list li {
  list-style: none;
  text-decoration: none;
}
.main .footer-center-features-list li a {
  text-decoration: none;
  color: #737373;
  transition: 0.2s linear;
}
.main .footer-center-features-list li a:hover {
  color: #000000;
  font-weight: 700;
}
.main .footer-center-resources {
  height: 170px;
  width: 148px;
}
.main .footer-center-resources-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main .footer-center-resources-list {
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.main .footer-center-resources-list li {
  list-style: none;
  text-decoration: none;
}
.main .footer-center-resources-list li a {
  text-decoration: none;
  color: #737373;
  transition: 0.2s linear;
}
.main .footer-center-resources-list li a:hover {
  color: #000000;
  font-weight: 700;
}
.main .footer-center-touch {
  height: 170px;
  width: 320px;
}
.main .footer-center-touch-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.main .footer-center-touch-subscribe {
  display: flex;
  width: 321px;
  height: 58px;
}
.main .footer-center-touch-subscribe-left {
  width: 204px;
  height: 56px;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  text-indent: -5px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
}
.main .footer-center-touch-subscribe-left-text {
  width: 100%;
  height: 56px;
  margin: 0 0 0 5px;
  padding: 0 2px 0 10px;
  border: none;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}
.main .footer-center-touch-subscribe-left-text:focus {
  border: 2px solid #23a6f0;
  outline: none;
  background-color: rgba(35, 165, 240, 0.137254902);
}
.main .footer-center-touch-subscribe-right {
  width: 113px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #23a6f0;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2117647059);
}
.main .footer-center-touch-subscribe-right:hover {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2039215686);
  background-color: #1f90d1;
}
.main .footer-center-touch-paragraph {
  height: 28px;
  font-size: 12px;
  color: #737373;
}
.main .footer-down {
  text-align: left;
  width: 70%;
  height: 49px;
  padding-top: 25px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}/*# sourceMappingURL=style.css.map */